<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/auth/finduser" method="get">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" /></td>
            </tr>
            <tr>
                <td><input type="submit" required="required" value="Trouver" /></td>
                <td><span style="color: red;"></span> </td>
            </tr>

        </table>
    </form>
    <hr>
    <table border="1">

        <tr>
            <td>Username</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td><a href="/auth/userdelete/{{item._id }}">Delete</a></td>
        </tr>

        {% endfor %}
    </table>
</body>

</html>